@charset "UTF-8";

/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Estilos do cabeçalho */
header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

img {
    height: 80px;
    margin-right: 10px;
}

/* Estilos da navegação */
nav {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #3498db;
    padding: 10px 20px;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos das seções */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 5px;
}

/* Estilos dos títulos */
h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h1 {
    font-size: 30px;
}

h2 {
    color: #3498db;
    text-shadow: 1px 1px 2px #336180;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

#Almoço {
    background-color: #3498db;
}

#Vazio {
    background-color: #3498db;
}

/* Estilos para a seção de ícones */
.icones-areas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icone-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
}

.icone-area i {
    font-size: 40px;
    color: #3498db;
    margin-bottom: 10px;
}

.icone-area p {
    font-size: 16px;
    color: #3498db;
    text-shadow: 1px 1px 2px #336180;
}

/* Estilos para telas menores que 600px */
@media only screen and (max-width: 600px) {
    nav a {
        display: block;
        padding: 10px 0;
        margin: 0;
    }

    table, th, td {
        padding: 4px;
        font-size: 10px;
    }

    .icones-areas {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .icone-area {
        margin: 5px;
    }

    .icone-area i {
        font-size: 30px;
    }

    .icone-area p {
        font-size: 14px;
    }
}
