body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
}

header {
    background-color: #8e44ad;
    margin: auto;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buscar {
    cursor: pointer;
    border-radius: 5px;
}
#search-bar {
    border-radius: 5px;
    padding: 4px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
    max-width: 800px;
    margin: 20px auto;
}

section h2 {
    color: #8e44ad;
}

section p {
    color: #ccc;
}

section a {
    color: #8e44ad;
    text-decoration: none;
    margin-right: 10px;
}

section a:hover {
    text-decoration: underline;
}

#downloads{
  background-color:white;
}

.btn-voltar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}